.card{
	border-radius: 2px;
	background: $sm-white;
	padding: 10px;
	@include sm-std-shadow;
	@include sm-transition;
	&:hover{
		box-shadow: 0 8px 17px 0 rgba(0,0,0,0.20), 0 6px 20px 0 rgba(0,0,0,0.20);
	}

	margin-bottom: 20px;
}

.card1{
	border-radius: 2px;
	background: $sm-white;
	padding: 10px;
	@include sm-std-shadow;
	@include sm-transition;

}

body{
	@include breakpoint(small only){
		h2{
			font-size: 30px;
		}

		h3{
			font-size: 30px;
		}
	}
}