// ################################################
// #################
// ################# STYLE NAGLOWKA
// #################
// ################################################

// pozycja jako sticky
.sm-top{
	background: darken(white, 0%);
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: $sm-top-menu-h;
	@include sm-std-shadow;
}

// naglowek
.top-bar{
	//odstep wewnetrznego elementu
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	
	//menu mobilne
	.title-bar{
		color: $sm-accent-color;
		background-color: transparent;
		@include poisitonFromTop(50%);
		font-size: 30px;
	}
	//menu mobilne - lista
	#mobile-dropdown{
		@include sm-std-shadow;
		background-color: $sm-white;
		.activePage{
			color: $sm-accent-color;
		}
		a{
			color: $sm-primary-text-color;
			&:hover{
				color: $sm-accent-color;
			}
		}
	}

	//menu desktop
	.sm-desktop-menu{
		// elementy w menu
		li{
			@include align-Y($sm-top-menu-h);
			
			.activePage{
				@include border-radius-single(10%);
				background-color: lighten($sm-accent-color, 10%);
				font-weight: 400;
				color: darken(white, 70%);
				
				&:hover{
					color: darken(white, 70%);
				}
			}
			
			a{	
				font-size: 20px;
				color: black;
				&:hover{
					color: $sm-accent-color-2;
				}
			}
			
		}
	
		// elementy w pod-menu (musze sie odwolac do klasy 'submenu' - dodawanej przez skrypt JS - nie ma jej w html)
		/* .submenu{
			@include sm-std-shadow;
			a {
				color: $sm-primary-text-color;
			}
		} */
	}

	// logo
	.sm-logo{
		float: left;
		
		//dla najmniejszych urzadzen wyswietlam ikone po prawej str topa
		@include breakpoint(small only){
			position: absolute;
			right: 0%;
			transform: translateX(-50%);
		}

		// ikona jest w spanie wiec odwoluje sie do niego
		span{
			color: $sm-accent-color-2;
			font-size: 80px;
			&:hover{
				color: $sm-accent-color;
			}
		}
	}
}

// ################################################
// #################
// ################# GORNY SEPARATOR
// #################
// ################################################

.sm-top-separator{
	display: block;
	height: $sm-top-menu-h;
}

// ################################################
// #################
// ################# SLIDER
// #################
// ################################################

.sm-slider{
	
	//slider orbit
	.orbit{
		background: url("../img/slide.jpg") no-repeat center -150px;
		background-size: 100%;
		margin-bottom: -10px;
		
		//pojedynczy slajd 
		.orbit-slide{
			@include slajd;
		}
		
		//przyciski pod slajdami
		.orbit-bullets{
			bottom: 10px;
			@include poisitonFromLeft(50%);
			.is-active{
				background-color: $sm-accent-color-2;
			}
		}
	}
}

// ################################################
// #################
// ################# SEKCJA START, POD SLIDEREM
// #################
// ################################################

.sm-start{
	padding: 7rem 0;
	background-color: darken(white, 5%);
	margin: 10px 0;

	//ikony
	.round-icon{
		font-size: 100px;
		
		// kolory poszczegonych ikon
		.fi-plus{
			color: lighten(blue,15%);
		}
		.fi-torso-female{
			color: violet;
		}
		.fi-torso{
			color: orange;
		}
		.fi-torsos-all{
			color: darken(yellow, 5%);
		}
		.fi-play{
			color: $sm-accent-color;
		}
	}
}

// ################################################
// #################
// ################# SEKCJA ZALETY
// #################
// ################################################

.sm-highlights{
	margin-top: -10px;
	@include sm-std-shadow;
	padding: 7rem 0;

	// tytul
	.sm-section-header{
		color: white;
		@include przezroczyste;
		border-radius: 10px;
	}
	
	#zaleta1, #zaleta2, #zaleta3, #zaleta4, #zaleta5, #zaleta6, #zaleta7, #zaleta8{

	}

	.sm-content{
		//@include przezroczyste;
		display: none;
		min-height: 240px;
		border-radius: 20px;
		span{
			font-size: 40px;
			color: orange;
			background-color: darken(white, 10%);
			@include border-radius-single(50%);
			padding: 10px 20px;
			//border: 3px solid $sm-accent-color;
		}
		p{
			margin-top: 10px;
			font-size: 20px;
		}

		.inner{
			padding: 20px;
			background-color: rgba(255,255,255,0.3);
			min-height: 220px;
			border-radius: 20px;
		}
	}
	
	//grupa
	.button-group{
		.activeButton{
			background-color: $sm-accent-color;
			font-size: 25px;
		}
		
		.button{
			&:hover{
				background-color: $sm-accent-color;
				font-size: 25px;
			}
		}
	}
	
}


// ################################################
// #################
// ################# SEKCJA OFERTA
// #################
// ################################################

.sm-offer{
	padding: 7rem 0;
}




