// ################################################
// #################
// ################# STYLE NAGLOWKA
// #################
// ################################################

// pozycja jako sticky
.sm-top{
	background: darken(white, 0%);
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: $sm-top-menu-h;
	@include sm-std-shadow;
}

// naglowek
.top-bar{ 
	//odstep wewnetrznego elementu
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	
	//menu mobilne
	.title-bar{
		color: $sm-accent-color;
		background-color: transparent;
		@include poisitonFromTop(50%);
		font-size: 30px;
	}
	//menu mobilne - lista
	#mobile-dropdown{
		@include sm-std-shadow;
		background-color: $sm-white;
		.activePage{
			color: $sm-accent-color;
		}
		a{
			color: $sm-primary-text-color;
			&:hover{
				color: $sm-accent-color;
			}
		}
	}

	//menu desktop
	.sm-desktop-menu{
		// elementy w menu
		li{
			@include align-Y($sm-top-menu-h);
			
			.activePage{
				@include border-radius-single(10%);
				background-color: lighten($sm-accent-color, 10%);
				font-weight: 400;
				color: darken(white, 70%);
				
				&:hover{
					color: darken(white, 70%);
				}
			}
			
			a{	
				font-size: 20px;
				color: black;
				&:hover{
					color: $sm-accent-color-2;
				}
			}
			
		}
	
		// elementy w pod-menu (musze sie odwolac do klasy 'submenu' - dodawanej przez skrypt JS - nie ma jej w html)
		/* .submenu{
			@include sm-std-shadow;
			a {
				color: $sm-primary-text-color;
			}
		} */
	}

	// logo
	.sm-logo{
		float: left;
		
		//dla najmniejszych urzadzen wyswietlam ikone po prawej str topa
		@include breakpoint(small only){
			position: absolute;
			right: 0%;
			transform: translateX(-50%);
		}

		// ikona jest w spanie wiec odwoluje sie do niego
		span{
			color: $sm-accent-color-2;
			font-size: 80px;
			&:hover{
				color: $sm-accent-color;
			}
		}
	}
}

// ################################################
// #################
// ################# GORNY SEPARATOR
// #################
// ################################################

.sm-top-separator{
	display: block;
	height: $sm-top-menu-h;
}

// ################################################
// #################
// ################# SLIDER
// #################
// ################################################

.sm-slider{
	
	//slider orbit
	.orbit{
		background: url("../img/slide.jpg") no-repeat center -150px;
		background-size: 100%;
		margin-bottom: -10px;
		color: white;
		//pojedynczy slajd 
		.orbit-slide{
			@include slajd;

		}
		
		//przyciski pod slajdami
		.orbit-bullets{
			bottom: 10px;
			@include poisitonFromLeft(50%);
			.is-active{
				background-color: $sm-accent-color-2;
			}
		}
	}
}

// ################################################
// #################
// ################# SEKCJA START, POD SLIDEREM
// #################
// ################################################

.sm-start{
	padding: 5rem 0;
	background-color: darken(white, 5%);
	margin: 10px 0;
	
	.card{
		min-height: 545px;
		@include breakpoint(medium only){
			min-height: 610px;
		}
	}
	//ikony
	.round-icon{
		font-size: 100px;
		
		// kolory poszczegonych ikon
		.fi-info{
			color: lighten(blue,15%);
		}
		.fi-torso-female{
			color: violet;
		}
		.fi-torso{
			color: orange;
		}
		.fi-torsos-all{
			color: darken(yellow, 5%);
		}
		.fi-play{
			color: $sm-accent-color;
		}
	}
}

// ################################################
// #################
// ################# SEKCJA ZALETY
// #################
// ################################################

.sm-highlights{
	margin-top: -10px;
	@include sm-std-shadow;
	padding: 7rem 0;
	

	// tytul
	.sm-section-header{
		//@include przezroczyste;
		border-radius: 10px;
		text-transform: uppercase;
	}
	
	.sm-highlight{
		@include card-mixin;
		
		@include breakpoint(medium){
			min-height: 230px;
		}

		.icon{
			padding: 10px;
			font-size: 50px;
			color: $sm-accent-color;
		}
		h3{
			padding: 20px 0;
		}

		.more{
			color: $sm-accent-color-2;
			@include breakpoint(small only){
				float: none;
			}
			@include breakpoint(medium only){
				float: none;
			}
			span{
				color: $sm-basic-text-color;
			}
			
		}
		a{

			margin-top: -30px;
		}
		.fi-social-youtube{

			font-size: 100px;
			color: #d94348;
			&:hover{
				color: darken(#d94348,10%);
			} 
		} 

		.fi-web{
			font-size: 100px;
			color: #4668b3; 
			&:hover{
				color: darken(#4668b3,10%);
			}
		}

		
	}



	

}


// ################################################
// #################
// ################# SEKCJA OFERTA
// #################
// ################################################

.sm-offer{
	padding: 7rem 0;
	
	#sm-vert-tabs{
		li{
			a{
				color: black;
			}
		}
	}

	.tabs-content{
		border:1px solid $light-gray;
		img{
			margin-bottom: 40px;
			border-radius: 10px;
		}
		span{
			color: $sm-accent-color-2;
			font-weight: 400;
		}
		#sign{
			border-radius: 10px;
			background-color: $sm-accent-color-2;
			&:hover{
				background-color: darken($sm-accent-color-2, 10%);
			}
		}
	}
}

// ################################################
// #################
// ################# SEKCJA O MNIE
// #################
// ################################################

.sm-about{
	padding: 7rem 0;
	background-color: darken(white, 50%);

	h2{
		color: $sm-accent-color-2;
	}
}

// ################################################
// #################
// ################# SEKCJA OPINIE
// #################
// ################################################

.sm-opinions{
	padding: 7rem;
	.opinions-content{
		border-radius: 10px;
		border: 1px solid lighten(black, 50%);
		padding: 2rem 2rem 0 2rem;
		
		li{
			padding-right: 20px;
			margin-left: -20px;
		}

		@include breakpoint(small only){
			display: none;
		}
	}
	.opinions-content-alert{
		p{
			padding: 10px 20px 0 0;
		}
		@include breakpoint(medium){
			display: none;
		}
	}

}

// ################################################
// #################
// ################# SEKCJA KONTAKT
// #################
// ################################################

.sm-contact{
	padding: 7rem 0 7rem 0;
	background-color: #303030;
	h2{
		text-transform: uppercase;
		color: #ffa64d;
		margin-top: 30px;
	}
	h3{
		color: #ffa64d;
		margin-top: 30px;
	}

	.icon{

		margin-top: 10px;

		
		p{
			min-height: 100px;
			
			padding: 10px;
			line-height: 22px;
			padding-top: 22px;
			border-radius: 5px;
			span{
				color: white;

			}

			@include breakpoint(small only){
				float: right;
			}
		}

	}

	
}
.sm-social{
	background-color: darken(#303030, 5%);
	.icon{

		font-size: 200px;

		.fi-social-facebook{	
			color: #4668b3; 
			&:hover{
				color: darken(#4668b3,10%);
			}
		}
		.fi-social-youtube{
			color: #d94348;
			&:hover{
				color: darken(#d94348,10%);
			} 
		}
		@include breakpoint(medium){
			padding: 2rem 0;
		}

	}
}

.sm-footer{
	background-color: darken(#303030, 10%);
	padding: 2rem 0;
	p{
		margin-bottom: 0;
	}
	span{
		color: $sm-basic-text-color;
	}
}


.box {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 25px;
 	margin-top: 20px;
 	background-color: white;

  img{
  	border-radius: 50%;
  	height: 100px;
  }
  p{
  	font-size: 16px;
  }
  h4{
  	color: $sm-accent-color;
  }
}

.box-icon {
  border-radius: 50%;
  display: table;
  height: 100px;
  margin: 0 auto;
  width: 100px;
  margin-top: -61px;
  font-size: 3rem;

}

.info {
  h4 {
  	padding-top: 25px;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $sm-accent-color;
  }
  p {
    color: #717171;
    font-size: 15px;
    padding-top: 10px;

  }


  #certyfikat{
  	background-color: $sm-accent-color;
  	border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.5s ease 0s;
    
  	&:hover {
  		background-color: $sm-dark-primary-color;
    	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    	transition: all 0.5s ease 0s;
    }
  }

  span{
  	margin-top: -20px;
  }

}