
// cien do elementow
@mixin sm-std-shadow{
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), ;
}
// opoznienie w dodawaniu cienia
@mixin sm-transition{
	transition: box-shadow 0.5s ease 0s;
}
// ustawienie rozmiaru
@mixin size($width,$height) {
	width: $width;
	height: $height;
}

// przezroczyste tlo
@mixin przezroczyste{
	padding: 20px;
	background-color: rgba(0,0,0,0.3);
}

// mixin dla kazdego ze slajdow w slajderze
@mixin slajd{
			
	// pading dla malych urzadzen
	padding: 5rem 0;
	
	// a dla urzadzen tylko duzych ustawiam wiekszy
	@include breakpoint(large){
		padding: 7rem;
	}
	
	h1{
		color: darken(white, 10%);
		font-size: 2.5rem;
		text-transform: uppercase;

		@include breakpoint(large){
			font-size: 6rem;
			line-height: 7rem;
			letter-spacing: -5px;
		}
	}

	p{
		color: $sm-70p-white;
		font-size: 1.25rem;
		@include breakpoint(large){
			font-size: 2.25rem;
		}
	}

	a{
		margin-top: 15px;
		font-weight: 400;
		background: transparent;
		border: 2px solid $sm-accent-color-2;
		border-radius: 7px;
		&:hover{
			background-color: $sm-accent-color-2;
		}

		i{
			padding-left: 15px;
			color: white;
		}
		-webkit-animation-iteration-count: infinite;
	}
}

// mixin do zaokraglenia bokow
@mixin border-radius-single($radius) {
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

//wyrownanie elemntu w pionie
@mixin align-Y($px){
	line-height: $px; 	
	height: $px;
}
//pozycjonowanie w pionie, od topa
@mixin poisitonFromTop($top){
	position: absolute;
	top: $top;
	transform: translateY(-50%);
}
//pozycjonowanie w poziomie, od topa
@mixin poisitonFromLeft($left){
	position: absolute;
	left: $left;
	transform: translateX(-50%);
}




/* .icon-left{
	@include breakpoint(small only){
		text-align: center;

	}
	@include breakpoint(medium){
		float: left;
	}	
}
.icon-right{
	@include breakpoint(small only){
		text-align: center;

	}
	@include breakpoint(medium){
		float: right;
		text-align: right;
	}	
} */


// potrzebne do karty
@mixin card-mixin{
	border-radius: 2px;
	background: $sm-white;
	padding: 10px 30px;
	@include sm-std-shadow;
	@include sm-transition;
	&:hover{
		box-shadow: 0 8px 17px 0 rgba(0,0,0,0.20), 0 6px 20px 0 rgba(0,0,0,0.20);
	}
	margin-bottom: 20px;
}