// KOLORY
$sm-primary-color: #3F51B5;
$sm-dark-primary-color: #00cc00;
$sm-accent-color: #86b300;
$sm-accent-color-2: #ffa64d;
$sm-black: #000000;
$sm-white: #FFFFFF;
$sm-primary-text-color: $sm-black;
$sm-secondary-text-color: #727272;
$sm-70p-white: rgba($sm-white, 0.7);
$sm-87p-black: rgba($sm-black, 0.87);
$sm-divider-color: #B6B6B6;

// ROZMIARY
$sm-top-menu-h: 120px;